@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #050505;
    color: white;
    box-sizing: border-box;
}

.profile-bar{
    display: none;
}

.profile-entry:hover .profile-bar{
    display: block;
    background-color: #303030;
}